body {
    font-size: 120%
}

main h1 {
    font-family: "Arial";
    font-size: 60px;
    text-align: center;
    background-color: #225555;
    color: #fafffa;
}

h2 {
    font-family: "Arial, Helvetica, sans-serif";
    font-size: 40px;
}